<div class="page-header">
  <h1>
    All Photos
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
      <% @photos.each do |photo| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= time_ago_in_words(photo.created_at) %>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          </div>
          <div class="panel-body">
            <a href="/photos/<%= photo.id %>">
              <img src="<%= photo.photo_url %>" width="400" class="img-responsive center-block">
            </a>
          </div>
        </div>
      <% end %>
  </div>
</div>
